*{box-sizing:border-box;margin:0;padding:0px;}
body{background: linear-gradient(to left bottom,rgb(255, 179, 0),rgb(255, 240, 204));}

header {display:flex;justify-content:space-between;align-items:center;padding:30px 10%;background-color:black;height:100px;}
.logo {}
.nav_links {list-style: none;}
.nav_links li {display:inline-block;padding:0px 15px;}
.nav_links li a {text-decoration: none;color: #FFEAB8;font-size:18px;}
.nav_links li a:hover {color: #ffd980;}
.left-btn{display:flex;justify-content:space-between;align-items:center;}
.color-btn{text-decoration:none;padding:8px;background:#ffc94d;color:black;font-size:1.2rem;border:solid 2px;}
.color-btn:hover{color:#FFEAB8;background:black;}
.content {padding:10%;}

.title {text-align:center;margin:0 0 50px 0;}

/* home page */
.what {padding:15%;font-size:3rem;text-align:center;color:black;}
.how {padding:10%;font-size:3rem;background-color:black;text-align:center;}
.how h1 {color:#FFEAB8;}
.btn-wrapper{margin:10%;text-align:center;}

/*cart*/
.box-element {padding:15px;}
.under-pic{}
.mybtn{text-decoration:none;padding:2%;background:black;color:#ffc94d;font-size:1.2rem;}
.mybtn:hover{background:#ffc94d;color:black;border:solid 2px;}