*{box-sizing:border-box;margin:0;padding:0px;}
body{background: linear-gradient(to left bottom,rgb(255, 179, 0),rgb(255, 240, 204));}

/* navigation bar */
header {display:flex;justify-content:space-around;align-items:center;background-color:black;height:100px;}
ul {list-style: none;}
.menu-btn{font-weight:bold;color: #FFEAB8;font-size:25px;padding:8px;cursor: pointer;}
.menu-btn:hover{color: #ffd980;}
.menu-wrapper{display: inline-block;position:relative;}
.menu-wrapper:hover .menu-content{ display: block;}
.menu-content{ display: none;position:absolute;z-index: 1;box-shadow:-2px 2px 18px black;right:70px;width:135px;}
.menu-content li a {text-decoration: none;background-color: #ffd980;color:black;font-size:18px;display: block;padding:10px;width:135px;}
.menu-content li a:hover {color: #ffd980;background-color:black;}

.left-btn{display:flex;justify-content:space-between;align-items:center;}
.color-btn{text-decoration:none;padding:8px;background:#ffc94d;color:black;font-size:1.2rem;border:solid 2px;}
.color-btn:hover{color:#FFEAB8;background:black;}
.content {padding:10%;}
.btn-wrapper{padding:8px;}

.title {text-align:center;margin:0 0 50px 0;font-weight:bold;}

/* home page */
.what {padding:15%;font-size:3rem;text-align:center;color:black;}
.how {padding:10%;font-size:3rem;background-color:black;text-align:center;}
.how h1 {color:#FFEAB8;}

/*cart*/
.box-element {padding:15px;}
.cart-actions {display:flex;}
.cart-item {display:flex;justify-content:space-between;}
.under-pic{}
.mybtn{text-decoration:none;padding:4px;background:black;color:#ffc94d;margin:5px;width:90px;font-size:0.8rem}
.mybtn:hover{background:#ffc94d;color:black;border:solid 2px;}