{% extends 'invitations/base.html' %}
{% block content %}
{% load static %}
<h3 class = "title">התפריט שלי</h3>
{% regroup content by day as daysList %}

<ul>
    {% for day in daysList %}
        <li>
            <h3>{{day.list.0.get_day_display}}</h3>
            <ul>
            {% for produser in day.list %}
                <li class = "cart-item-name">{{ produser.product.name }}<br>
                    <b>{{ produser.product.product_name }}</b>
                    <div class="cart-item">
                        <img src="{{ produser.product.picture.url }}" width="100px" height="100px" alt=""><br>
                        <h6>מחיר: {{ produser.product.price }}</h6>
                        <h6>כמות: {{ produser.amount }}</h6>

                        <div class="cart-actions">
                            <form href="{% url 'cart' %}" method ="POST">
                            {% csrf_token %}
                            <input name="produser" type="hidden" value="{{produser.id}}">
                            <input name="what" type="hidden" value='remove'>
                            <button class="mybtn" type="submit" >מחק מהיום</button>
                            </form>

                            <form href="{% url 'cart' %}" method ="POST">
                            {% csrf_token %}
                            <input name="produser" type="hidden" value="{{produser.id}}">
                            <input name="what" type="hidden" value='moveToDay'>
                            <button class="mybtn" type="submit" >העבר יום</button>
                            </form>
                            {% if form.instance == produser and action == 'moveToDay' %}
                            <form href="{% url 'cart' %}" method ="POST">
                                {% csrf_token %}
                                <fieldset display="block" class="add">{{form.day}}</fieldset>
                                <input name="what" type="hidden" value='moveToDayData'>
                                <input name="produser" type="hidden" value="{{produser.id}}">
                                <button class="mybtn" type="submit" >שמור</button>
                            </form>
                            {% endif %}

                            <form href="{% url 'cart' %}" method ="POST">
                            {% csrf_token %}
                            <input name="produser" type="hidden" value="{{produser.id}}">
                            <input name="what" type="hidden" value='copyToDay'>
                            <button class="mybtn" type="submit" >העתק ליום</button>
                            </form>
                            {% if form.instance == produser and action == 'copyToDay' %}
                            <form href="{% url 'cart' %}" method ="POST">
                                {% csrf_token %}
                                <fieldset display="block" class="add">{{form.as_p}}</fieldset>
                                <input name="what" type="hidden" value='copyToDayData'>
                                <input name="produser" type="hidden" value="{{produser.id}}">
                                <button class="mybtn" type="submit" >שמור</button>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <hr>
        </li>
    {% endfor %}
</ul>
<h1  class="title">סך הכל לשבוע:</h1>
<h4>{{sum}} ש"ח</h4>
<br>
<a href="{% url 'checkout' %}" class="mybtn" >אישור הזמנה</a>
<script src="{% static 'javascript/cart.js' %}"></script>
{% endblock %}